<!-- Footer -->
<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <p>&copy; 2024 Your Company. All Rights Reserved.</p>
    <p>Follow us on:</p>
    <div>
      <a (click)="navigateFacebook()" class="text-white mx-2">Facebook</a>
      <a href="#" (click)="navigateTwitter()" class="text-white mx-2"
        >Twitter</a
      >
      <a href="#" (click)="navigateLinkedine()" class="text-white mx-2"
        >LinkedIn</a
      >
      <a href="#" (click)="navigateInstagram()" class="text-white mx-2"
        >Instagram</a
      >
    </div>
    <p>Powered by YourCompany</p>
  </div>
</footer>
<!-- Footer End -->
